C# Monitor/bin/
C# Monitor/obj/
C# Monitor/.vs/
C# Monitor/publish/Application Files/iWatcher_ServiceTool_1_0_2_212/Gil_Server.dll
C# Monitor/publish/
.vs/
C# Monitor/Gil_Server/obj/
C# Monitor/Gil_Server/bin/
